/* General styles */

* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul{
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Title */

#main-title {
    animation: fadeInDown 2s ease-in-out;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Cards products */

.card {
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}


/* Cards title */

.row {
    margin-top: 1.7rem;
    margin-bottom: 2rem;
}

.row .title {
    position: relative;
}


.row .title a {
    color: black;
    font-weight: bold;
    animation: fadeIn 2s ease-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
/* Active section */

.active {
    font-weight: bold;
}

/* Breadcrumb */

.breadcrumb {
    background-color: #f8f9fa; 
    border-radius: 0.5rem; 
    padding: 0.75rem 1rem;
}

.breadcrumb a {
    color: black;
}

.breadcrumb-item.active {
    color: black;
}

/* Offcanvas */

/*#offcanvasRight {
    width: 30rem; 
}

@media (max-width: 990px) {
    #offcanvasRight {
        width: 18rem;
    }
}*/


/* Mediaquery */
@media (max-width: 990px) {
    #cart {
        margin-top: 1rem;
    }
}
